@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;0,700;1,300&display=swap');

body{
    font-family:  'Montserrat', sans-serif;
}

.wrapperContent {
    padding: 0 40px;
}

/* Start Header */
li {
    list-style: none;
}

.itemMenu {
    text-decoration: none;
    color: #2671C1;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.bt-search {
    background-color: white;
    border: none;
}

.bt-search svg {
    fill: #2671C1;
}
/* End Header */

/* Start Window pop-up */
.bgSale {
    background-color: #E6F2FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapperSale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100vh;
}

.icon {
    fill: #2671C1;
}

.titleSale {
    color: #2671C1;
    font-size: 36px;
    font-weight: 500;
    margin: 20px 0 0 0;
}

.textSale {
    color: #2671C1;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

.subscriptionSale{
    font-size: 16px;
    font-weight: 300;
    color: #767676;
    text-align: center;
    margin-top: 30px;
}
/* End Window pop-up */

/* Start Index */
/*Promotion*/
.wrapperPromotion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgPromotion {
    width: 640px;
    height: auto;
}

.boxPromotion {
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E6F2FF;
    margin-left: -50px;
}

.boxPromotion h4 {
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    color: #2671C1;
    margin-top: 10px;
}

.boxPromotion p {
    color: #2671C1;
    font-size: 18px;
    font-weight: 300;
    width: 50%;
    text-align: center;
}

/*Banner Index*/
.bannerBlog {
    background: url(../img/blog.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.bannerBlog div {
    width: 300px;
    height: 300px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.bannerBlog div h4 {
    font-size: 24px;
    font-weight: 500;
    color: #2671C1;
}
.bannerBlog div p {
    font-size: 16px;
    font-weight: 300;
    color: #2671C1;
}
.bannerBlog div a {
    text-decoration: none;
    padding: 10px 20px;
    border: #2671C1 2px solid;
    color: #2671C1;
    border-radius: 25px;
}
/* End Index*/

/* Start Product Card */
.cardProduct {
    background-color: #FFF;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.07);
    text-decoration: none;
}

.cardImg {
    margin: auto;
    display: flex;
    justify-content: center;
}

.cardBrand {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #2671C1;
    padding-left: 10px;
}

.cardName {
    font-size: 18px;
    font-weight: 500;
    color: #121212;
    text-transform: uppercase;  
    height: 40px;
    padding-left: 10px;
}

.cardPrice {
    font-size: 18px;
    font-weight: 300;
    color: #121212;
    padding-left: 10px;
}
/* End Product Card */

/* Start Product Page */
.wrapperPdp {
    width: 400px;
    padding-top: 60px;
}

.pdpBrand {
    color: #2671C1;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.pdpName {
    font-size: 22px;
    font-weight: 300;
    color: #121212;
    text-transform: uppercase;
}

.pdpCollapse {
    text-decoration: none;
    color: #2671C1;
    margin: 10px 0;
}

#variants {
    display: flex;
    gap: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.chipVariante {
    background-color: #E6F2FF;
    color: #2671C1;
    cursor: pointer;
    border: 2px solid #E6F2FF;
    padding: 8px 16px;
    border-radius: 25px;
}

.chipVarianteActive {
    border-color: #2671C1;
}

/* Start Section Comment */
.titleForm {
    font-size: 18px;
    font-weight: 500;
    color: #2671C1;
}

.labelComment {
    font-size: 18px;
    font-weight: 300;
    color: #121212;
}

.inputName {
    border: #2671C1 2px solid;
    border-radius: 25px;
    padding: 8px 20px;
    margin: 10px 0;
}

.btnComment {
    border: #2671C1 2px solid;
    border-radius: 25px;
    background-color: #E6F2FF;
    color: #2671C1;
    padding: auto;
    width: 200px;
    height: 45px;
}

.btnComment:hover {
    background-color: #2671C1;
    color: #FFF;
}

.wrappercomment {
    background-color: #E6F2FF;
    color: #2671C1;
    padding: 10px 24px;
    margin: 10px 0;
    border-radius: 20px;
}

.titlecomment {
    font-size: 16px;
    font-weight: 500;
}

.comment {
    font-size: 16px;
    font-weight: 300;
}

.dateComment {
    font-size: 14px;
    font-weight: 500;
    text-align: end;
    margin: 0;
}

ul{
    padding: 0;
 }
/* End Section Comment */



/* End Product Page */

/* Start Post Card */
.imgPost {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 20px;
}

.datePost {
    font-size: 14px;
    font-weight: 500;
    color: #2671C1;
}

.titlePost {
    font-size: 22px;
    font-weight: 500;
    color: #121212;
    height: 60px;
    margin: 8px  0;
}

.excerptPost {
    font-weight: 300;
    font-size: 18px;
    color: #121212;
    padding-bottom: 10px;
}

.btnPost {
    background-color: #E6F2FF;
    color: #2671C1;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    text-transform: uppercase;
}


/* End Post Card */

/* Start Post Page */
.datePostPage {
    font-size: 18px;
    font-weight: 300;
    color: #2671C1;
}

.titlePostPage {
    font-weight: 500;
    font-size: 36px;
    color: #121212;
}

.imgPostPage {
    border-radius: 25px;
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin: 20px 0;
}

.contentPost {
    font-weight: 300;
}

.titleAuthor {
    font-size: 20px;
    font-weight: 500;
    color: #121212;
    margin-top: 30px;
}

.authorPostPage {
    background-color: #E6F2FF;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}

.authorPostPage img {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 30px;
}

.authorPostPage div {
    padding: 30px;
}

.authorPostPage div h5 {
    font-size: 20px;
    font-weight: 500;
    color: #2671C1;
    margin: 0;
}

.authorPostPage div span {
    font-size: 16px;
    font-weight: 300;
    color: #2671C1;
}

.authorPostPage div p {
    font-size: 16px;
    font-weight: 300;
    color: #121212;
    margin-top: 20px;
}
/* End Post Page */